name: CD to GKE (Docker Hub)

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["CI - DevSecOps TP2"]
    types:
      - completed


  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/myapp:${{ github.sha }}"
          docker build -t $IMAGE .
          docker push $IMAGE
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV


      - name: Set up GCP
        uses: google-github-actions/setup-gcloud@v3
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.PROJECT_ID }}
          export_default_credentials: true
          service_account: github-deployer


      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials tp3 --region europe-west9 --project ${{ secrets.PROJECT_ID }}

      - name: Deploy manifests to GKE
        run: |
          kubectl apply -f k8s/